{% extends 'base.html' %}
{% block title %}Women{% endblock title %}
{% block style %}
body {
  box-sizing: border-box;
  background-color: rgb(230, 228, 228);
  
} 

.Container1 {
  display: grid;
  grid: auto / auto auto auto;
  grid-gap: 50px;
  transition: all;
  transform: 0.5s;
  padding: 0 40px 0 40px;
}

.Container1 a {
  text-decoration: none;
  color: black;
}

.Container1 :hover{
  transform: scale(1.01);
  transition: ease-in-out;
  transition: 0.4s;
}

.col {
  background-color: white;
  padding: 10px 30px 10px 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.185);
}
.col :hover{
  transform: scale(1.01);
}
.col img {
  
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

{% endblock style %}
{% block body %}


<div class="Container1">
  <a href="">
    <div class="col">
      <img
        src="https://images-eu.ssl-images-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/31YW3+kpZQL._AC_SX184_.jpg"
        alt="" />
      <div class="card-body">
        <p class="card-text">
          This is a wider card with supporting text below as a natural
          lead-in to additional content. This content is a little bit
          longer.
        </p>
      </div>
    </div>
  </a>

  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://images-eu.ssl-images-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/41I-azRJBLL._AC_SX184_.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>
  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71bV203ASmL._AC._SR360,460.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>

  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://m.media-amazon.com/images/I/41sHRWXCfvL._AC_UF226,226_FMjpg_.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>
  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://images-eu.ssl-images-amazon.com/images/W/IMAGERENDERING_521856-T1/images/G/31/gps/banners/default/banners/location/change/me/xcm_banners_04_pcnetworkingsbcbau1_440x460_in-en.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>
  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/914hFeTU2-L._AC_UL480_QL65_.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>

  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/G/31/img21/CEPC/Electronics/Revamp/SBC/xcm_banners_10_sbc_v1_564x564_in-en._CB657839315_.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>
  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/91qc0iDjsVL._AC_UY327_FMwebp_QL65_.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>
  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/91MVVK14sEL._AC_UL640_QL65_.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
{% endblock body %}

