{% extends 'base.html' %}
{% block title %}Women{% endblock title %}
{% block style %}
body {
  box-sizing: border-box;
  background-color: rgb(230, 228, 228);
  
} 

.Container1 {
  display: grid;
  grid: auto / auto auto auto;
  grid-gap: 50px;
  transition: all;
  transform: 0.5s;
  padding: 0 40px 0 40px;
}

.Container1 a {
  text-decoration: none;
  color: black;
}

.Container1 :hover{
  transform: scale(1.01);
  transition: ease-in-out;
  transition: 0.4s;
}

.col {
  background-color: white;
  padding: 10px 30px 10px 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.185);
}
.col :hover{
  transform: scale(1.01);
}
.col img {
  
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

{% endblock style %}
{% block body %}


<div class="Container1">
  <a href="">
    <div class="col">
      <img
        src="https://m.media-amazon.com/images/I/61Er0HEUkfL._AC_UL480_FMwebp_QL65_.jpg"
        alt="" />
      <div class="card-body">
        <p class="card-text">
          This is a wider card with supporting text below as a natural
          lead-in to additional content. This content is a little bit
          longer.
        </p>
      </div>
    </div>
  </a>

  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://m.media-amazon.com/images/I/61-mKDR7ADL._AC_UL480_FMwebp_QL65_.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>
  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://images-eu.ssl-images-amazon.com/images/I/41TPS-A9FwL._AC_SX184_.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>

  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://m.media-amazon.com/images/I/71mfsJ8itnL._AC_UL480_QL65_.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>
  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://m.media-amazon.com/images/I/61zXxLhtF5L._AC_UL480_QL65_.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>
  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://images-eu.ssl-images-amazon.com/images/I/31I0jXbEMpL.AC_SX184.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>

  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://m.media-amazon.com/images/I/71P432xRkcL.AC_UL480_FMwebp_QL65.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>
  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://m.media-amazon.com/images/I/71v2Z6xs4sL.AC_UL480_FMwebp_QL65.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>
  <a href="">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="https://m.media-amazon.com/images/I/71v2Z6xs4sL.AC_UL480_FMwebp_QL65.jpg"
          alt="" />

        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
{% endblock body %}

